[*.cs]

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false

# IDE0057: Use range operator
csharp_style_prefer_range_operator = false

# IDE0047: Remove unnecessary parentheses
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = none

# DV2001: No Dependency Diagram linked
dotnet_diagnostic.DV2001.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = silent
